<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="monitor-title"></h3>
    </div>
    <div class="modal-body">
        <canvas id="line" class="chart chart-line" 
                data-chart-data="MonitorModalCtrl.data"
                data-chart-labels="MonitorModalCtrl.labels" 
                data-chart-legend="true" 
                data-chart-series="MonitorModalCtrl.series"
                data-chart-click="MonitorModalCtrl.onClick">
        </canvas> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="MonitorModalCtrl.close()" data-translate="monitor-close"></button>
    </div>
</div>
