<div data-ng-if="topLeftMenuCtrl.sagremorParams.loggedIn">
    <ul class="nav nav-tabs tabs-left">
        <li id="tabDashboard" class="sag-menu active text-center">
            <a data-ui-sref="dashboard" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabDashboard')">
                <i class="fa fa-home fa-fw"></i>
            </a>
        </li>
        <li id="tabSwitches" class="sag-menu text-center" data-ng-if="topLeftMenuCtrl.sagremorParams.benoicEnabled">
            <a data-ui-sref="switches" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabSwitches')">
                <i class="fa fa-lightbulb-o fa-fw"></i>
            </a>
        </li>
        <li id="tabHeaters" class="sag-menu text-center" data-ng-if="topLeftMenuCtrl.sagremorParams.benoicEnabled">
            <a data-ui-sref="heaters" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabHeaters')">
                <i class="fa fa-fire"></i>
            </a>
        </li>
        <li id="tabSensors" class="sag-menu text-center" data-ng-if="topLeftMenuCtrl.sagremorParams.benoicEnabled">
            <a data-ui-sref="sensors" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabSensors')">
                <i class="fa fa-line-chart fa-fw"></i>
            </a>
        </li>
        <li class="sag-menu text-center" data-ng-repeat="service in topLeftMenuCtrl.serviceList" data-ng-if="topLeftMenuCtrl.sagremorParams.carleonEnabled" id="tabService{{service.target}}">
            <a data-ui-sref="service({service: service.target})" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabService' + service.target)">
				<i data-ng-class="{'fa fa-{{service.icon}} fa-fw': true}"></i>
            </a>
        </li>
        <li id="tabScripts" class="sag-menu text-center">
            <a data-ui-sref="scripts" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabScripts')">
                <i class="fa fa-tasks fa-fw"></i>
            </a>
        </li>
        <li id="tabEvents" class="sag-menu text-center">
            <a data-ui-sref="events" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabEvents')">
                <i class="fa fa-calendar fa-fw"></i>
            </a>
        </li>
        <li id="tabMonitors" class="sag-menu text-center">
            <a data-ui-sref="monitors" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabMonitors')">
                <i class="fa fa-bar-chart fa-fw"></i>
            </a>
        </li>
        <li id="tabLogs" class="sag-menu text-center" data-ng-if="topLeftMenuCtrl.sagremorParams.garethEnabled">
            <a data-ui-sref="logs" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabLogs')">
                <i class="fa fa-history fa-fw"></i>
            </a>
        </li>
        <li id="tabParameters" class="sag-menu text-center">
            <a data-ui-sref="parameters" href="#tabView" data-toggle="tab" data-ng-click="topLeftMenuCtrl.selectTab('#tabParameters')">
                <i class="fa fa-cogs fa-fw"></i>
            </a>
        </li>
    </ul>
</div>
