<div class="container">
    <h1 data-translate="{{serviceCtrl.title}}"></h1>

	<div data-ng-repeat="serviceList in serviceCtrl.serviceListGroups">
		<div class="row">
			<div class="span6">
				<button class="btn btn-primary" type="button" data-ng-click="serviceCtrl.addService(serviceList.service)" data-translate="service_add"></button>
			</div>
		</div>
		
		<div class="row">
			<h3 data-translate="{{serviceList.title}}"></h3>
			<data-sag-container class="col-sm-2"
								data-ng-repeat="element in serviceList.list"
								data-menu="serviceCtrl.menu"
								data-size="1"
								data-title="element.display || element.name"
								data-type="element.type"
								data-element="element">
				<div data-sag-generic-injector data-type="element.type" data-elt="element"></div>
			</data-sag-container>
		</div>
	</div>
</div>
