.sag-container-header {
	width: 100%;
}

.sag-container-header button {
	
}

.sag-container-header span {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sag-container {
  border-radius: 10px;
  border: 2px solid;
  margin: 5px;
}

.sag-container-element  {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.element-label {
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.element-disabled {
  font-style: italic;
}
