<div class="sag-container">
	<div class="row">
        <div class="sag-container-header-menu col-sm-2" data-ng-if="!!$ctrl.menu" data-uib-dropdown>
            <button class="btn btn-primary text-left" type="button" data-uib-dropdown-toggle data-ng-click="">#</button>
            <ul data-uib-dropdown-menu>
                <li data-ng-repeat="menuItem in $ctrl.menu"><a href="" data-ng-click="$ctrl.menuSelect(menuItem, $ctrl.element)" data-ng-bind="menuItem.display"></a></li>
            </ul>
        </div>
        <div class="sag-container-header-title col-xs-10">
            <span data-ng-bind="$ctrl.title" class="text-center"></span>
        </div>
    </div>
	<div class="row control-group">
        <div data-ng-transclude class="sag-container-element col-md-12">
        </div>
    </div>
</div>
