<div data-ng-if="$ctrl.switcher.enabled || $ctrl.adminMode">
    <div class="text-center" data-ng-class="{'text-italic': $ctrl.adminMode}">
        <div>
            <input type="checkbox" 
                    data-bs-switch 
                    data-toggle="toggle" 
                    data-switch-size="mini" 
                    data-ng-model="$ctrl.switcher.valueChecked" 
                    data-ng-change="$ctrl.toggleSwitcher()">
        </div>
    </div>
    <div class="text-center" data-ng-if="$ctrl.adminMode">
        <button type="button" class="btn" data-ng-click="$ctrl.editSwitcher()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn" data-ng-click="$ctrl.monitorSwitcher()">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
        </button>
    </div>
</div>
