<div class="container">
    <h1>Weather</h1>

	<div class="row">
		<div class="span6">
			<button type="button" data-ng-click="weatherCtrl.addMock()">Add</button>
		</div>
	</div>
	
    <div class="row">
		<data-sag-container data-ng-repeat="mock in weatherCtrl.mockServiceList"
							data-menu="weatherCtrl.menuMock"
							data-size="1"
							data-title="mock.name"
							data-element="mock">
			<data-carleon-mock data-mock="mock"></data-carleon-mock>
		</data-sag-container>
    </div>
</div>
