<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="event_modal_title"></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="EventModalCtrl.save()" data-translate="btn_ok" data-ng-disabled="!EventModalCtrl.isEventValid()" data-uib-tooltip="{{EventModalCtrl.error.message}}"></button>
        <button class="btn btn-warning" type="button" data-ng-click="EventModalCtrl.cancel()" data-dismiss="modal" data-translate="btn_cancel"></button>
    </div>
</div>
