<div class="col-sm-2 element-container" data-ng-if="$ctrl.dimmer.enabled || $ctrl.adminMode" data-context-menu="$ctrl.menu">
    <div class="text-center" data-ng-class="{'text-italic': $ctrl.adminMode}">
        <span class="text-left element-label" 
              data-ng-class="{'element-disabled': $ctrl.adminMode && !$ctrl.dimmer.enabled}">{{$ctrl.dimmer.display}} : 
        </span>
        <div class="ring">
            <div class="quarter quarter1" data-ng-click="$ctrl.setDimmer(100)">
                <span class="quarter-value">100%</span>
            </div>
            <div class="quarter quarter2" data-ng-click="$ctrl.setDimmer(0)">
                <span class="quarter-value">0%</span>
            </div>
            <div class="quarter quarter3" data-ng-click="$ctrl.setDimmer(50)">
                <span class="quarter-value"><br/>50%</span>
            </div>
            <div class="quarter quarter4" data-ng-click="$ctrl.setDimmer(25)">
                <span class="quarter-value"><br/>25%</span>
            </div>
            <div class="cutout">
                <div class="ring-value" data-ng-bind="$ctrl.dimmer.value">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" data-ng-if="$ctrl.adminMode">
        <button type="button" class="btn" data-ng-click="$ctrl.editDimmer()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn" data-ng-click="$ctrl.monitorDimmer()">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
        </button>
    </div>
</div>
